torch
transformers
langchain
langchain-community
langchain-text-splitters
sentence-transformers
python-dotenv
bitsandbytes
gradio
pandas
langchain_huggingface
pypdf
faiss-cpu
accelerate
jupyterlab
openpyxl
